################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MyPorfolioProject.Application/obj
/src/MyPorfolioProject.Core/obj
/src/MyPorfolioProject.Infrastructure/obj
/src/MyPorfolioProject.Presentation/obj
/src/MyPortfolioProject.Core/obj
/src/MyPortfolioProject.Application/obj
/src/MyPortfolioProject.Infrastructure/obj
/src/MyPortfolioProject.Presentation/obj
